Debug
/Project2/Test.dds
/DefaultWinApp
/.vs/DorasimaViewer/FileContentIndex
/.vs
/Project2/fbx/nanosuit
/Project2/fbx/blue_cube_notexture.fbx
/Project2/fbx/Color.jpg
/Project2/fbx/dodge_challenger.fbx
/Project2/fbx/Normal.jpg
/Project2/fbx/orange_disktexture.fbx
/Project2/fbx/orange_embeddedtexture.fbx
/Project2/fbx/person_embeddedindexed.blend
